/*
SQKZ Version 2
Author: Riley Hoff
*/
html{
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body{
  padding: 0;
  margin: 0;
  font-family: josefin-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #222;
  background-color:whitesmoke;
  letter-spacing: .1em;
}

p{
  margin: 0;
  font-size: 1.25em;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1.25em;
}

header{
  position: absolute;
  background-color: whitesmoke;
  z-index: 100;
  left: 0;
  top: 0;
  width: 90vw;
  height: 15vh;
  padding: 0 5vw;
}
nav{
  animation: slide-left 2s 0s backwards ease-in-out;
}

nav a{
  float: right;
  display: block;
  width: 5vw;
  padding: 0 0 0 5vw;
  z-index: 200;
  transition: all .2s ease-in-out;
  text-align: right;
  margin-top: 5vh;
}
 
nav a:hover {
  text-decoration: line-through;
  transform: rotate(-5deg);
}
nav .active{
  color: #aaaaaa;
}
nav .active:hover{
  text-decoration: none;
  transform: rotate(5deg);
}

svg{
  transition: all ease-in-out 1s;
}

#sqkz_title{
padding-top: 2vh;
 width: 10vw;
 float: left;
 animation: slide-left 2s 0s backwards ease-in-out;
}

#sqkz_title:hover{
  transform: rotate(10deg);
}

img.gallery{
  width: auto;
  height: 60vh;
  object-fit: contain;
  padding: 0 0.5vw;
  margin: 0;
  animation: fade-in 1s 2s backwards;
  transition: all .2s ease-in-out;
}

section{
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  z-index: -100;
  animation: slide-left 1s 1s backwards ease-in-out;
}

.grid section{
  overflow-x: hidden;
  overflow-y: auto;
}
.grid img.gallery:hover{
  transform: scale(1.05);
}

.gallery_img{
  display: inline-block;
}
.list .gallery_img:first-child{
  padding-left: 15vw;
}
.list .gallery_img:last-child{
  padding-right: 4vw;
}

#next_btn{
  position: fixed;
  top: 20vh;
  right: 0;
  width: 15vw;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(245,245,245,1));
  opacity: 0;
  transition: all .2s;
}
#next_arrow{
  position: absolute;
  display: block;
  opacity: 1;
  right: 5vw;
  top: 30vh;
  width: 5vw;
}

#prev_btn{
  position: fixed;
  top: 20vh;
  left: 0;
  width: 15vw;
  height: 80vh;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(245,245,245,1));
  opacity: 0;
  transition: all .2s;
}

.move_btn:hover{
  opacity: 1 !important;
}

#categories{
  position: relative;
  display: flex;
  width: 15vw;
  height: 60vh;
  float: left;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 100 !important;
  text-align: right;
}
.grid #categories{
  height: 85vh;
  width: 20vw;
  position: fixed;
  left: -15vw;
  top: 15vh;
  background-color: whitesmoke;
  align-items: flex-end;
  justify-content: flex-start;
  transition: all .5s ease-in-out;
}

.grid #categories::before {
  content: "Categories";
  padding: 1vh 2vw  0 0;
  position: relative;
  writing-mode: vertical-lr;
  
}

#categories > button{
  color: #aaaaaa;
  height: 2vh;
  margin: 0vh 0vw 0vh 5vw;
  padding-right: 0;
  text-align: right;
  background-color: transparent;
  border: none;
  font-size: 2vh;
  transition: all .2s;
}
.grid #categories > button{
  height: 4vh;
  margin: 0;
  padding-right: 5vw;
}

#categories:hover > button {
  height: 4vh;
}
.grid #categories:hover {
  left: 0;
}
#categories > button:hover {
  text-decoration: line-through;
  color: #222;
}
.list #categories > button:hover{
  padding-right: 1vw;
}
#categories > button.active {
  color: #222;
}

/* Fullscreen View */

#fullscreen_view{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100vh;
  left: 0;
  z-index: 1000;
}

#fullscreen_view.active{
  display: block;
}

#fullscreen_bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: .9;
  background-color: whitesmoke;
}
#fullscreen_content{
  display: flex;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 1010;
}
#fullscreen_img{
  position: relative;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  float: right;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  padding-right: 1.25vw;
}

#full_img_container{
  position: relative;
  width: max-content;
  max-width: 75vw;
  min-width: 50vw;
  height: 100%;
  z-index: 1010;
}

#artwork_info{
  position: relative;
  display: flex;
  align-self: end;
  flex-direction: column;
  padding-left: 1.25vw;
  min-width: 25vw;
  max-width: 50vw;
  z-index: 1010;
  transition: all .5s;
}
#artwork_info p {
  font-family: azo-sans-web, sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  display: inline-block;
  width: 100%;
  padding: .1em 0;
  z-index: 1010;
}
#price{
  transition: all .4s ease-in-out;
}
#price_dot{
  position: relative;
  height: 1em;
  width: 1.25em;
  padding-right: .5em;
  top: .2em;
}
.nfs #price_dot{
  display: none;
}
.available #price_dot{
  fill: green;
}
#artwork_info:hover .available{
  padding-bottom: 2em;
}
#artwork_info:hover > #price.available{
  padding-top: 1em;
}
#artwork_info:hover .available #price_inquire_btn{
  display: inline-block;
  animation: fade-in .5s .2s backwards;
}
#price_inquire_btn{
  font-family: josefin-sans, sans-serif;
  font-size: 1em;
  display: none;
  position: relative;
  top: 1em;
  left: 0;
  border: solid #222 2px;
  background-color: transparent;
  padding: .75em 2.25em;
  margin-right: 10vw;
}

/*detail images*/
#detail_imgs{
  display: none;
  z-index: 1010;
  position: fixed;
  height: 100vh;
  top: 50%;
  top: 0;
  left: -9vw;
  width: 12vw;
  flex-direction: column;
  align-self: center;
}

#detail_imgs.active{
  display: flex;
  justify-content: center;
  transition: all .5s ease-in-out;
  
}
#detail_imgs.active:hover{
  transform: translateX(7vw);
  background-color: whitesmoke;
 
}
#detail_imgs.active:hover > img{
  width: 5vw;
  height: 5vw;
}

#detail_imgs img{
  transition: all .5s ease-in-out;
  width: 5vw;
  height: 5vw;
  object-fit: cover;
  padding: 1vh 2.5vw;
  align-self: center;
  
}

#detail_imgs .view{
  opacity: .5;
}

#detail_imgs #detail_title{
  position: relative;
  left: 9.5vw;
  writing-mode: vertical-lr;
  z-index: 1010;
}

#fullscreen_exit{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 5vh;
  right: 5vw;
  padding: 0;
  z-index: 1010;
}

#fullscreen_exit svg{
  width: 100%;
  height: auto;
}

/* Grid View */
#grid_btn{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  border: none;
  background-color: transparent;
  height: 50px;
  width: 50px;
}

#grid_btn svg{
  fill: #aaaaaa;
  width: 100%;
  height: auto;
  transition: all .2s;
}

#grid_btn svg:hover{
  fill: #222;
}

.grid #grid_svg {
  display: none;
}

#list_svg {
  display: none;
  width: 125% !important;
}

.grid #list_svg {
  display: block;
}

body.grid{
  overflow-y: scroll;
}
.grid img.gallery{
  float: left;
  width: 12vw;
  height: 12vw;
  padding: .5vw;
  transform: none;
  overflow: hidden;
  object-fit: cover;
}
.grid section{
  transform: none;
  width: 100vw;
  height: 85vh;
  left: 5vw;
  top: 15vh;
  white-space: normal;
  animation: slide-up 1s 0s;
}

.grid .move_btn{
  display: none;
}

/* animations */

.animate_out {
  /* overflow: hidden; */
  transition: all .8s ease-in-out;
  transform: translateX(100vw);
  opacity: 0;
  overflow: visible !important;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

@keyframes slide-left{
  0%{
    transform: translateX(100vw);
  }100%{
    transform: translateX(0);
  }
}

@keyframes slide-up{
  0%{
    transform: translateY(100vw);
  }100%{
    transform: translateY(0);
  }
}
