/*
SQKZ Version 2
Author: Riley Hoff
*/
html{
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body{
  padding: 0;
  margin: 0;
  font-family: josefin-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-weight: 100;
  color: #222;
  background-color:whitesmoke;
  letter-spacing: .1em;
  /* width: 100vw; */
  /* height: 100vh; */
}

p{
  margin: 0;
  font-size: 1.25em;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1.25em;
}

header{
  position: absolute;
  background-color: whitesmoke;
  z-index: 100;
  left: 0;
  top: 0;
  width: 90vw;
  height: 15vh;
  padding: 0 5vw;
}
nav{
  animation: slide-left 2s 0s backwards ease-in-out;
}

nav a{
  float: right;
  display: block;
  width: 5vw;
  padding: 0 0 0 5vw;
  z-index: 200;
  transition: all .2s ease-in-out;
  text-align: right;
  margin-top: 5vh;
}
 
nav a:hover {
  text-decoration: line-through;
  transform: rotate(-5deg);
}
nav .active{
  color: #aaaaaa;
}
nav .active:hover{
  text-decoration: none;
  transform: rotate(5deg);
}

svg{
  transition: all ease-in-out 1s;
}

#sqkz_title{
padding-top: 2vh;
 width: 10vw;
 float: left;
 animation: slide-left 2s 0s backwards ease-in-out;
}

#sqkz_title:hover{
  transform: rotate(10deg);
}

.dot{
  height: 20px;
  width: 20px;
  transition: all ease-in-out 1s;
}

img{
  width: 33.33vw;
  height: 33vw;
  object-fit: contain;
  margin:  auto;
  padding: 1vw 0;
  white-space: nowrap;
  transform:rotate(90deg);
  animation: fade-in 1s 2s backwards;
}

section{
  position: absolute;
  top: -45vh;
  left: 27vw;
  transform: rotate(-90deg);
  width: 80vh;
  height: 100vw;
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  z-index: -100;
  /* white-space: nowrap; */
}

#next_btn{
  position: absolute;
  top: 20vh;
  right: 0;
  width: 15vw;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(245,245,245,1));
  opacity: 0;
  transition: all .2s;
}

#prev_btn{
  position: absolute;
  top: 20vh;
  left: 0;
  width: 15vw;
  height: 80vh;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(245,245,245,1));
  opacity: 0;
  transition: all .2s;
  
}

.move_btn:hover{
  /* background-color: whitesmoke; */
  opacity: 1 !important;
}

#more_arrow{
  font-size: 2em;
  display: block;
  /* width: 100px; */
  /* height: 100px; */
  position: absolute;
  right: 5vw;
  bottom:5vh;
  z-index: 10000;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

@keyframes slide-left{
  0%{
    transform: translateX(100vw);
  }100%{
    transform: translateX(0);
  }
}

