/*
SQKZ Version 2
Author: Riley Hoff
*/

@font-face {
  font-family: Vivaldii;
  src:
    url(/fonts/VIVALDII.woff) format("woff"),
    url(/fonts/VIVALDII.woff2) format("woff2");
}

:root {
  --header-font: Vivaldii, cursive, serif;
  --body-font: "Libre Franklin", sans-serif;
  --serif-font: 'EB Garamond', serif;
  --bg-color: #f5f5f5;
  --primary-color: #222;
  --secondary-color: #fff;
  --accent-color: #0f7f7f; /* inverse of #f08080 */
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: var(--body-font), sans-serif;
  font-weight: 600;
  font-style: normal;
  font-weight: 100;
  color: var(--primary-color, #000);
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: scroll;
  /* scroll-snap-type: y proximity; */
  scroll-behavior: smooth;
}

#sqkz_title {
  font-family: Vivaldii, sans-serif;
  font-weight: 400;
  display: none;
}

#sqkz_title_svg {
  fill: var(--primary-color, #000);
  position: absolute;
  top: 5vh;
  left: -.5vw;
  width: 104vw;
  height: auto;
  z-index: -1;
  animation: sqkz-svg 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

p {
  margin: 0;
  font-size: 1.25em;
}

a {
  font-size: 1.25em;
  text-decoration: none;
  color: var(--primary-color, #000);
}

a:hover {
  color: var(--accent-color, var(--accent-color, #777));
}

body>section {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* scroll-snap-align: start; */
}

.misc.grid-container {
  display: grid !important;
}

.grid-container {
  /* scroll-snap-align: start; */
  display: grid !important;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
  row-gap: 0;
  grid-template-rows: repeat(20, minmax(10px, 1fr));
}

img {
  position: fixed;
  left: 33.333333%;
  top: 20vh;
  margin: auto;
  width: 33.33333vw;
  height: 33.33333vw;
  display: none;
  grid-column: 5/9;
  grid-row: 5/17;
  object-fit: cover;
  z-index: -100;
  /* for alt text */
  font-family: 'EB Garamond', serif;
  color: var(--primary-color, #000);
  font-size: .75em;
  border: solid 3px var(--primary-color, #000);
}

#default_img {
  display: block;
  z-index: -200;
}

.detail_img {
  position: static;
  grid-column: 5/9;
  grid-row: 5/17;
  display: block;
  z-index: -90;
  object-fit: cover;
  margin: 0;
  border-color: var(--secondary-color, #fff);
}

.active {
  display: block;
}

div#bg {
  margin: auto;
  display: block;
  grid-column: 1/13;
  grid-row: 1/21;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

#bg.pause {
  display: none;
}

.right_link {
  grid-column: 10/13;
  font-size: 1em;
  font-weight: 600;
  z-index: 200;
}

.strike {
  position: relative;
}

.strike::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 1px;
  bottom: 50%;
  left: -12%;
  background-color: var(--accent-color, var(--accent-color, #777));
  opacity: .25;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.strike:hover::after {
  transform: scaleX(1);
}

/*
Intro Page 
grid-rows : 0 to 20
*/
nav {
  display: flex;
  grid-column: 1/15;
  grid-row: 16;
  z-index: 200;
  font-size: 1em;
  clear: both;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  width: 33.333%;
}

nav a {
  display: block;
  width: 50%;
  padding: 20px 40px;
  z-index: 200;
  transition: all .2s ease-in-out;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

svg {
  transition: all ease-in-out 1s;
}

/* theatre view */
body.theatre {
  background-color: var(--primary-color, #000);
  overflow: hidden;
}

.theatre #dot_1 {
  fill: var(--accent-color, var(--accent-color, #777));
  position: fixed;
  right: 10vw;
  top: 50%;
  z-index: 2002;
}

.theatre img {
  width: 80vh;
  height: 80vh;
  top: 10vh;
  left: 10vw;
}

.theatre img {
  z-index: 2000;
}

.theatre #bg {
  z-index: 2001;
}

.theatre #sqkz_title {
  display: none;
}

/*detail page*/
.detail #sqkz_title {
  display: block;
  color: var(--primary-color, #000);
  position: absolute;
  font-size: 2em;
  top: 5vh;
  left: 0;
  width: 95vw;
  text-align: right;
  animation: fade-in 1s 0s 1 linear;
}

.detail #sqkz_title_svg {
  fill: var(--secondary-color, #fff);
}

.right_nav {
  display: none;
}

.detail .right_nav {
  display: block;
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 5vw;
  opacity: 0;
  transition: all .2s 0s linear;
  padding: 15vh 0 15vh 10vw;
}

.detail .right_nav:hover {
  opacity: 1;
}

.detail .right_nav a {
  padding: .75vh 0;
  width: auto;
  text-align: right;
}

.dot {
  height: 20px;
  width: 20px;
  transition: all ease-in-out 1s;
}

#dot_1 {
  z-index: 101;
  grid-column: 9;
  grid-row: 10;
  margin-left: 5vw;
}

#dot_1:hover {
  transform: rotate(360deg);
}

#v_line_1 {
  grid-column: 4;
  grid-row: 5/13;
  height: 100%;
  width: 100%;
}

/*
about me
grid-rows : 21 to 40
*/
#bio {
  grid-column: 3/8;
  grid-row: 7/17;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: var(--serif-font), serif;
  font-weight: 500;
}

#name {
  font-family: var(--serif-font), serif;
  font-weight: 400;
  font-style: normal;
  grid-column: 3/8;
  grid-row: 16/22;
}

#dot_2 {
  grid-column: 3;
  grid-row: 13;
}

#h_line_1 {
  grid-column: 10/13;
  grid-row: 12;
  z-index: 100;
}

#h_scribble {
  width: 130%;
  margin: -10%;
  grid-column: 10;
  grid-row: 17;
}

#insta {
  grid-column: 10;
  grid-row: 16;
}

#contact {
  grid-column: 10;
  grid-row: 13;
}


#about_img {
  background-color: var(--secondary-color);
  grid-column: 5/9;
  grid-row: 5/17;
  width: 33.3333vw;
  height: 33.3333vw;
  z-index: -1;
}

/* contact form */
.contact h1 {
  grid-row: 3;
  grid-column: 4/11;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--header-font), sans-serif;
  font-weight: 400;
}

.contact header {
  z-index: 1;
}

#contact_form {
  transition: all 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  font-family: var(--serif-font), serif;
}

.contact #contact {
  grid-column: 2;
  top: -2.5vh;
  position: relative;
}

.contact #h_line_1 {
  left: -5vw;
  grid-column: 1/4;
  position: relative;
}

input,
textarea {
  position: relative;
  height: 100%;
  min-height: 1.25em;
  width: 100%;
  margin-bottom: auto;
  background-color: transparent;
  border: none;
  border: solid var(--primary-color, #000) 2px;
  padding-left: 2vw;
  font-size: 1.25em;
  z-index: 1000;
  font-family: var(--serif-font), serif;
  font-size: 1em;
}

textarea {
  padding-top: 1em;
}

label,
#contact_phone>input[value=""]+label {
  position: relative;
  top: calc(-8px - 5vh);
  left: 2vw;
  transition: all .2s linear;
  width: 100%;
  display: block;
  font-size: 1em;
  height: calc(8px + 5vh);
  line-height: calc(8px + 5vh);
}

.required::after {
  content: "*";
}

#contact_message label {
  top: calc(-8px - 1em - 35vh);
  height: calc(8px + 1em + 35vh);
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus,
textarea:focus,
#contact_phone>input[value=""]:focus {
  border: solid var(--accent-color, #777) 2px;
}

input:valid,
textarea:valid,
#contact_phone>input:not([value=""]):valid {
  border: solid rgb(56, 187, 106) 2px;
}

input:not([value=""]):invalid,
#contact_phone>input:not([value=""]):invalid {
  background-color: rgba(235, 107, 107, 0.384);
}

input:focus+label,
input:not([value=""]):not(:focus):invalid+label,
#contact_phone>input[value=""]:focus+label,
input:valid+label {
  top: calc(-16px - 5vh - .75em);
  line-height: 1.25em;
  left: 0;
}

#contact_message textarea:focus+label,
#contact_message textarea:valid+label {
  top: calc(-16px - 1.75em - 35vh);
  line-height: 1.25em;
  left: 0;
}

#contact_name {
  grid-column: 4/7;
  grid-row: 5;
}

#contact_email {
  grid-column: 8/11;
  grid-row: 5;
}

#contact_phone {
  grid-column: 4/11;
  grid-row: 7;
}

#contact_phone>input[value=""] {
  border: var(--primary-color, #000) 2px solid;
}

#contact_message {
  grid-column: 4/11;
  grid-row: 9/16;
}

#contact_submit {
  grid-row: 17;
  grid-column: 10;
  height: 120%;
  width: 150%;
  position: relative;
  left: -1.5vw;
  border: none;
  background-color: var(--primary-color, #000);
  color: var(--bg-color);
  padding: 5%;
  font-family: var(--header-font);
  letter-spacing: 1px;
  font-size: 1.15em;
}

#contact_submit:hover {
  background-color: var(--accent-color, #777);
}

#contact_submit:active {
  background-color: rgb(211, 104, 104);
  border-top: 2px solid rgb(167, 71, 71);
  border-left: 2px solid rgb(167, 71, 71);
}

form:valid #contact_submit:hover {
  background-color: rgb(56, 187, 106);
}

form:valid #contact_submit:active {
  background-color: rgb(56, 187, 106);
  border-top: 2px solid rgb(35, 139, 75);
  border-left: 2px solid rgb(35, 139, 75);
}

#sent_msg {
  position: absolute;
  left: 0;
  top: 0;
  width: 80vw;
  padding: 6vh 10vw;
  margin: 0;
  background-color: rgb(56, 187, 106);
  text-align: center;
  color: var(--bg-color);
  font-size: 1.5em;
  z-index: 1001;
  transform-origin: top;
  animation: slide-down 1s 0s 1 backwards;
  transition: all .5s;
}

/* artworks inquire */
#art_sample {
  display: none;
}

.art #art_sample {
  /* position: absolute; */
  grid-row: 5/18;
  grid-column: 1/4;
  display: block;
  height: auto;
  object-fit: contain;
}

#art_sample img {
  display: block;
  position: unset;
  object-fit: contain;
  max-width: 80%;
  height: auto;
  max-height: 100%;
  padding-left: 10%;
  margin: 0;
  border: none;
}

#art_sample p {
  padding: 0 10%;
  width: 80%;
  margin: 2.5vh 0;
  font-size: 1em;
}

#art_sample p::before {
  content: '"';
}

#art_sample p::after {
  content: '"';
}

#back_link {
  grid-row: 0;
  grid-column: 2;
  position: relative;
  top: 5vh;
  height: 62px;
  display: flex;
}

#back_link svg {
  max-width: 50px;
  transition: all .2s;
}

#back_link:hover svg {
  fill: var(--accent-color, #777);
}

#back_link .strike::after {
  bottom: 51px !important;
}

.contact #h_line_1 {
  grid-row: 2;
  top: -1.25em;
}

/* no specific section */
#top {
  display: none;
  font-family: var(--serif-font), serif;
  position: absolute;
  top: 90vh;
  right: 5vw;
  margin: 0;
  padding: 0;
  color: #aaaaaa;
  animation: fade-in 1s 0s 1;
}

.detail>#top {
  display: block;
}

#top:hover {
  color: inherit;
}

/*animations */

.animate_out {
  overflow: hidden;
  transition: all 1s ease-in-out;
  transform: translateX(-100vw);
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes sqkz-svg {
  0% {
    fill: var(--primary-color);
  }

  100% {
    fill: var(--secondary-color);
  }

}

/* mobile */
@media only screen and (max-width: 850px) {

  /* display none for desktop only elements */
  html {
    overflow-y: auto;
  }

  body {
    min-height: 800px;
  }

  .grid-container {
    min-height: 800px;
  }

  #default_img {
    display: none;
  }

  div#intro_imgs {
    display: none;
  }

  #bg {
    display: none !important;
  }

  #sqkz_title_svg {
    position: fixed;
    top: 10vh;
    left: 15vw;
    width: 70vw;
    animation: none;
    fill: var(--bg-color, #fff);
  }

  #sqkz_title_svg.open {
    fill: var(--primary-color, #000) !important;
    z-index: 2010;
  }

  #sqkz_title,
  .detail #sqkz_title {
    display: none;
    position: fixed;
    top: -200px;
    color: var(--primary-color, #000);
    font-size: 2em;
  }

  .detail .right_nav {
    display: none;
  }

  .contact .right_nav {
    display: block;
  }

  #v_line_1 {
    display: none;
  }

  #dot_1 {
    display: none;
  }

  .mbl #intro_imgs {
    display: none;
  }

  .grid-container {
    display: grid !important;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    row-gap: 0;
    grid-template-rows: repeat(20, minmax(10px, 1fr));
  }

  /*intro*/
  #intro_gif {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    grid-row: 1;
    grid-column: 1;
    object-fit: cover;
    border: none;
  }

  header {
    position: relative;
    z-index: 2010;
  }

  /* Nav */
  nav,
  .contact nav.right_nav {
    position: fixed;
    top: 100vh;
    left: 0;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    z-index: 2000;
    transition: .3s ease-in-out;
    justify-content: space-between;
    opacity: 1;
  }

  nav>div {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  nav {
    background-color: transparent;
  }

  nav.show,
  .contact nav.right_nav.show {
    display: flex;
    height: 60vh;
    padding: 20vh 0;
    top: 0 !important;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.75);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }

  #sqkz_title.nav {
    /* when nav mbl nav is shown */
    position: fixed;
    top: 0;
    padding-top: 5vh;
    left: 50%;
    height: auto;
    width: 110px;
    margin-left: -55px;
    z-index: 2010;
    animation: slide-down .8s .2s 1 backwards cubic-bezier(.35, -0.3, .16, 1.37);
  }

  nav a,
  .contact nav.right_nav a {
    display: none;
    text-align: center;
    padding: 5vh 0;
    font-size: 1em;
    width: 100%;
    background-color: transparent;
  }

  nav.show a,
  .contact nav.right_nav.show a {
    display: block;
  }

  .contact .right_nav {
    padding: 0;
  }

  div.mobile_icon {
    cursor: pointer;
    position: fixed;
    bottom: 8.5vh;
    left: 50%;
    margin-left: -17.5px;
    z-index: 2000;
    transition: all .2s ease-in-out;
  }

  .detail .mobile_icon {

    bottom: 3.5vh;
    animation: fade-in .2s linear;
  }

  .bar1,
  .bar2 {
    width: 35px;
    height: 2px;
    background-color: var(--bg-color);
    margin: 6px 0;
    transition: 0.4s;
  }

  .detail .bar1,
  .detail .bar2,
  .change .bar1,
  .change .bar2 {
    background-color: var(--primary-color);
  }

  .change .bar1 {
    /* Rotate first bar */
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
    transform: rotate(-45deg) translate(-2px, 2px);
  }

  .change .bar2 {
    /* Rotate last bar */
    -webkit-transform: rotate(45deg) translate(-4px, 4px);
    transform: rotate(45deg) translate(-4px, -4px);
  }

  /*about section */
  .detail #sqkz_title {
    display: none;
  }

  .detail #sqkz_title_svg {
    opacity: 0;
    fill: var(--bg-color, #fff);
    transition: all .2s linear;
  }

  .detail #sqkz_title_svg.open {
    opacity: 1;
  }

  #about_img {
    width: 100%;
    height: 100%;
    grid-column: 7/13;
    grid-row: 2/9;
    object-fit: contain;
    background-color: transparent;
    border: none;
  }

  /*
  about me
  grid-rows : 21 to 40
  */
  #bio {
    grid-column: 2/9;
    grid-row: 2/17;
    width: 100%;
    font-size: 1em;
    line-height: 3.5vh;
  }

  #name {
    font-size: 1em;
    font-style: normal;
    grid-column: 2/10;
    grid-row: 17;
  }

  #dot_2 {
    grid-column: 10;
    grid-row: 10;
    width: 15px;
    height: 15px;
  }

  #h_line_1 {
    display: none;
  }

  #h_scribble {
    width: 130%;
    margin: -10%;
    grid-column: 2/5;
    grid-row: 15;
  }

  #insta {
    width: 100%;
    text-align: right;
    grid-column: 5/12;
    grid-row: 16;
  }

  .contact .grid-container {
    height: 800px;
  }

  #contact {
    width: 100%;
    text-align: right;
    grid-column: 5/12;
    grid-row: 14;
    transition: all 1s ease-in-out;
  }

  .contact h1 {
    grid-row: 1;
    line-height: 5vh;
  }

  input,
  textarea {
    position: relative;
    height: 100%;
    /* 5vh */
    width: 100%;
    margin-bottom: auto;
    background-color: transparent;
    border: none;
    border: solid var(--primary-color, #000) 2px;
    padding: 0 0 0 2vw;
    font-size: 1em;
    z-index: 1000;
  }

  textarea {
    padding-top: 1em;
  }

  label,
  #contact_phone>input[value=""]+label {
    position: relative;
    height: 47px;
    top: -47px;
    left: 2vw;
    transition: all .2s linear;
    width: 100%;
    display: block;
    font-size: 1em;
    line-height: 47px;
  }

  #contact_message label {
    top: -301px;
  }

  .art #contact_message label {
    top: -141px;
  }

  input:focus,
  textarea:focus {
    border: solid var(--accent-color, #777) 2px
  }

  input:focus+label,
  input:not([value=""]):not(:focus):invalid+label,
  #contact_phone>input[value=""]:focus+label,
  input:valid+label {
    top: -70px;
    left: 0;
  }

  #contact_message textarea:focus+label,
  #contact_message textarea:valid+label {
    top: -324px;
    left: 0;
  }

  .art #contact_message textarea:focus+label,
  .art #contact_message textarea:valid+label {
    top: -164px;
  }

  #contact_name {
    grid-column: 2/12;
    grid-row: 3;
  }

  .art #contact_name {
    grid-row: 7;
  }

  #contact_email {
    grid-column: 2/12;
    grid-row: 5;
  }

  .art #contact_email {
    grid-row: 9;
  }

  #contact_phone {
    grid-column: 2/12;
    grid-row: 7;
  }

  .art #contact_phone {
    grid-row: 11;
  }

  #contact_phone>input[value=""] {
    border: solid 2px var(--primary-color, #000);
  }

  #contact_message {
    grid-column: 2/12;
    grid-row: 9/16;
  }

  .art #contact_message {
    grid-row: 13/16;
  }

  #contact_submit {
    grid-row: 17;
    grid-column: 2/12;
    height: 120%;
    width: 105%;
    position: relative;
    left: 0;
    border: none;
    background-color: var(--primary-color, #000);
    color: var(--bg-color);
    font-family: var(--serif-font), serif;
    letter-spacing: .1em;
    font-size: 1em;
  }

  .art #art_sample {
    grid-row: 3/6;
    grid-column: 2/12;
    display: flex;
    height: auto;
    object-fit: contain;
    align-items: flex-end;
  }

  #art_sample img {
    float: right;
    padding: 0;
  }

  #art_sample p {
    margin: 0;
    text-align: left;
    justify-self: flex-end;
    font-size: 1em;
  }

  #back_link {
    grid-row: 1;
    line-height: 5vh;
    position: relative;
    height: auto;
    top: 0;
  }

  .animate_out {
    transition: all .2s linear;
    opacity: 0;
    transform: none;
    overflow: visible !important;
  }

  #top {
    display: none !important;
  }

  form {
    z-index: 0;
  }
  #cursor {display: none;}
}
@media screen and (min-width: 851px) {
  html, *{
    cursor: none !important;
  }
  #cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s, height .2s, width .2s;
    z-index: 1000000;
    pointer-events: none; 
  }
  #cursor.hover {
    width: 80px;
    height: 80px;
    /* background: transparent; */
    /* border: 4px solid #fff; */
}
#cursor.mouse-down {
  height: 10px;
  width: 10px;
}

}