/*
SQKZ INTRO
Author: Riley Hoff
*/
body{
    padding: 0;
    margin: 0;
    font-family: kumlien-pro,serif;
    font-weight: 700;
    font-style: normal;
    color: #222;
    background-color:gainsboro;
    overflow: hidden;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    row-gap: 0;
    grid-auto-rows: 5vh;
}
img{
    /* position: absolute;
    left: 100%; */
    margin: auto;
    width: 100%;
    height: 100%;
    display: none;
    grid-column: 5/9;
    grid-row: 4/16;
    object-fit: cover;
}
img::after{
    display: block;
    content: "tesing ";
    height: 500px;
    width: 500px;
    background-color: gainsboro;
}
.active{
    display: block;
}
div#bg{
    margin:auto;
    display:block;
    position:absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    width:100vw;
    height:100vh;
  }
  div#num{
    width:200px; 
    display:block;
    margin: 20vw;
    text-align:center;
  }
  header{
      grid-column: 5/9;
      grid-row: 2/4;
      margin: auto;
      z-index: 100;
      width: 20vw;
  }
