/*
SQKZ Version 3
Author: Riley Hoff
*/

:root {
  --primary-color: #d80036;
  --primary-light-color: #ff00401e;
  --text-color: #000;
  --body-font: "Libre Franklin", sans-serif;
  --serif-font: 'EB Garamond', serif;
}

@font-face {
  font-family: Vivaldii;
  src:
    url(/fonts/VIVALDII.woff) format("woff"),
    url(/fonts/VIVALDII.woff2) format("woff2");
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
   width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  box-shadow: rgba(0, 0, 0, 0.05) 0px -50px 36px -28px inset;
}

/* Intro Images Container */
.intro-images-container {
  position: fixed;
  top: 12%;
  left: calc(50% + 150px);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0 0;
  max-width: 450px;
  width: 450px;
  height: 450px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: box-shadow 0.3s ease;
  background-color: #f6f6f6;
}

.intro-images-container.collapsed {
  height: 0 !important;
}

.intro-images-container img {
  position: absolute;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.intro-images-container img.active {
  opacity: 1;
}

.intro-images-container {
  cursor: grab;
}

.intro-images-container.dragging, .intro-images-container.active.dragging {
  cursor: grabbing;
  box-shadow: 12px 20px 12px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.intro-images-container.active.dragging {
    box-shadow: 12px 20px 12px rgba(128, 59, 78, 0.2);
}

/* Active state for draggable sections */
.draggable.active {
  /* border-top: 1px solid var(--primary-color); */
  z-index: 10002;
}

.draggable.active,
.draggable.dragging {
  border-color: var(--primary-light-color);
}

.draggable.active .header {
  color: var(--primary-color);
  background-color: var(--primary-light-color);
  border-color: var(--primary-light-color);
}

.draggable.active .close-btn, .draggable.active .collapse-btn  {
  color: var(--primary-color);
  fill: var(--primary-color);
}

/* Prevent default touch scrolling while dragging */
.draggable {
  touch-action: none;
}

.draggable[hidden] {
  display: none !important;
}

.close-btn, .collapse-btn {
  position: relative;
  color: var(--text-color);
  border: none;
  width: 48px;
  height: 48px;
  line-height: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  background-color: transparent;
  transition: background-color 0.1s ease;
}

.close-btn:hover, .collapse-btn:hover {
  background-color: #a6a6a61e;
}

.active .close-btn:hover, .active .collapse-btn:hover {
  background-color: var(--primary-light-color);
}

.close-btn::before, .collapse-btn::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: currentColor;
  pointer-events: none;
}

.close-btn::before {
  -webkit-mask: url('./svg/plus.svg') center / contain no-repeat;
  mask: url('./svg/plus.svg') center / contain no-repeat;
  transform: rotate(45deg);
}

.collapse-btn::before {
  -webkit-mask: url('./svg/minus.svg') center / contain no-repeat;
  mask: url('./svg/minus.svg') center / contain no-repeat;
}

.collapsed .collapse-btn::before {
  -webkit-mask-image: url('./svg/plus.svg');
  mask-image: url('./svg/plus.svg');
}


.title {
  position: relative;
  font-size: 12px;
  line-height: 48px;
  flex: 1;
  padding-left: 16px;
  letter-spacing: .25px;
  font-weight: 500;
}

.intro-images-container .header,
nav .header,
.about .header, .contact .header, .inquiry-art .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  z-index: 3;
  border-radius: 0;
}

.intro-images-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* About, Contact, Inquiry Art Container */
.about, .contact, .inquiry-art {
  position: fixed;
  top: 8%;
  left: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease, padding 0.3s ease;
  cursor: grab;
  z-index: 100;
  min-width: 260px;
  padding: 48px 24px 24px;
  height: auto;
  backdrop-filter: blur(8px);
}

.inquiry-art {
  width: 240px;
}

.inquiry-art[hidden], .contact[hidden] {
  display: none;
}

.inquiry-art{ display: none; }
.art .inquiry-art { display: block; }

.contact {
  top: 10%;
  left: 300px;
  width: calc( 90vw - 330px );
  max-width: 800px;
}

.draggable.active {
  box-shadow: 6px 8px 6px rgba(128, 59, 78, 0.2);
}

.about.dragging, .contact.dragging, .inquiry-art.dragging,  .about.active.dragging, .contact.active.dragging, .inquiry-art.active.dragging {
  cursor: grabbing;
  box-shadow: 12px 20px 12px rgba(0, 0, 0, 0.1);
  z-index: 10003;
}
 .about.active.dragging, .contact.active.dragging, .inquiry-art.active.dragging {
  box-shadow: 12px 20px 12px rgba(128, 59, 78, 0.2);
}

.about.collapsed, .contact.collapsed, .inquiry-art.collapsed {
  height: 48px;
  padding: 0;
  overflow: hidden;
}
.about.collapsed {
    width: 320px;
}

/* When About is expanded, widen to 800px */
.about.expanded {
  width: 600px;
  z-index: 101;
}
.contact.expanded {
  width: 80vw;
  max-width: 800px;
  z-index: 101;
}

.inquiry-art.expanded {
  width: fit-content;
  max-width: 300px;
  max-height: 80vh;
  z-index: 100;
}

.inquiry-art img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 50vh;
  height: 100%;
  margin: 24px auto 0;
}

.inquiry-art.collapsed img { display: none; }

.about p, .contact p, .inquiry-art p {
  font-size: 18px;
  line-height: 1.4;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 24px 0;
  font-weight: 400;
}

.about p a, .contact p a, .inquiry-art p a {
  font-family: var(--body-font);
  font-size: 12px;
  letter-spacing: .25px;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--primary-light-color);
  background-color: transparent;
  border-radius: 20px;
  color: var(--primary-color);
  transition: background-color 0.1s ease, color 0.1s ease;
}

.about p a::after, .contact p a::after {
  content: "\2197";
  font-size: 14px;
  margin-left: 4px;
  top: -1px;
  position: relative;
  line-height: 0;
}

.about p a:hover, .contact p a:hover {
  background-color: var(--primary-light-color);
  font-weight: 500;
}

.about.collapsed .about-content, .contact.collapsed .contact-content {
  display: none;
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
}

.about-content img {
  max-width: 250px;
  height: auto;
  margin: 24px 0 0 24px;
  opacity: .95;
}

/* Contact Form */
.contact-content form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0 0;
}

.contact-content form  input,
.contact-content form  textarea {
  background-color: transparent;
  width: calc(100% - 16px);
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: var(--body-font);
  font-size: 14px;
  cursor: text; 
}
.contact-content form  textarea {
  resize: none;
  min-height: 100px;
  max-height: 300px;
}
.contact-content form  input:hover, .contact-content form  textarea:hover {
  background-color: #f6f6f6;
}

.contact-content form label {
  cursor: text; 
  position: relative;
  top: -20px;
  font-size: 12px;
  left: 2px;
  width: 100%;
  display: block;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.contact-content form input::placeholder, .contact-content form textarea::placeholder {
  opacity: 0;
}
.contact-content form input:focus + label, .contact-content form input:not(:placeholder-shown) + label  {
  transform: translateY(-32px);
  opacity: .5;
}
.contact-content form textarea:focus + label  {
  transform: translateY(-116px);
  opacity: .5;
}

.contact-content form input:focus-visible, .contact-content form textarea:focus-visible {
  outline: none;
  border-bottom: 2px solid #000;
}
.contact-content form input:not(:required):placeholder-shown {
  border-bottom: 1px solid #ccc;
} 
.contact-content form input:valid, .contact-content form textarea:valid {
  outline: none;
  border-bottom: 2px solid #0bdb19;
}

.contact-content form input:user-invalid, .contact-content form textarea:user-invalid {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.contact-content #contact_submit {
  width: 100%;
  padding: 12px;
  font-weight: 700;
  letter-spacing: .25px;
  border: none;
  background-color: #ccc;
  color: #fff;
  font-family: var(--body-font);
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 0 0 #2ed839d0, inset 0 0 0 0 #2ed839d0;
  transition: all 0.2s ease;
}

.contact-content form:has(#txt_name:user-invalid, #txt_email:user-invalid, #txt_message:user-invalid) #contact_submit {
  background-color: var(--primary-light-color);
  border-color: var(--primary-light-color);
  color:  var(--primary-color);
}
.contact-content form:has(#txt_name:user-invalid, #txt_email:user-invalid, #txt_message:user-invalid) #contact_submit:hover {
  box-shadow: 0 0 6px 0 var(--primary-light-color);
}

.contact-content form:has(#txt_name:valid):has(#txt_email:valid):has(#txt_message:valid) #contact_submit {
  background-color: #2ed83a;
}
.contact-content form:has(#txt_name:valid):has(#txt_email:valid):has(#txt_message:valid) #contact_submit:hover {
  box-shadow: 0 0 6px 0 #2ed839d0;
}

#sent_msg {
  position: fixed;
  left: 0;
  top: 0;
  width: 80vw;
  padding: 6vh 10vw;
  margin: 0;
  background-color: rgb(56, 187, 106);
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  z-index: 1001;
  font-family: var(--serif-font);
  font-weight: 700;
  font-size: 18px;
  transform-origin: top;
  animation: slide-down 1s 0s 1 backwards;
  transition: all .5s;
  z-index: 10000;
}

@keyframes slide-down {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

/* Nav Container */
nav {
  position: fixed;
  bottom: 20%;
  left: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: box-shadow 0.3s ease;
  cursor: grab;
  z-index: 100;
  min-width: 200px;
  padding: 48px 0 0;
  backdrop-filter: blur(8px);
}

.contact-page nav {
  top: 40px;
  left: 40px;
  bottom: unset;
}

nav.dragging, nav.active.dragging {
  cursor: grabbing;
  box-shadow: 12px 20px 12px rgba(0, 0, 0, 0.1);
  z-index: 10001;
}

nav.active.dragging {
  box-shadow: 12px 20px 12px rgba(128, 59, 78, 0.2);
}

nav ul {
  border-top: .5px solid #e5e4e4;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}

nav li {
  display: block;
  font-size: 12px;
}

nav a {
  font-weight: 200;
  display: block;
  padding: 24px;
  width: auto;
  text-align: left;
  letter-spacing: .1px;
}

nav a:hover {
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--primary-light-color);
}

nav.collapsed ul {
  display: none;
}

nav.collapsed {
  height: 48px;
  padding: 0;
  overflow: hidden;
}

.watermark,
.watermark-emoji {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, .2);
  pointer-events: none;
  user-select: none;
  z-index: -1;
  font-family: Vivaldii, cursive;
}

.watermark-emoji {
  width: 40px;
  height: 40px;
  opacity: .7;
  object-fit: contain;
}

.version {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: #ccc;
  font-family: monospace;
  text-align: right;
  z-index: -1;
}

.version>p:first-of-type {
  font-weight: bold;
  letter-spacing: 2px;
}


/* Carousel pause/play button */
.carousel-pause {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  z-index: 10050;
  background: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-image: url(./svg/pause.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-pause[aria-pressed="true"] {
  background-image: url(./svg/play.svg);
}

.intro-images-container:hover .carousel-pause,
.carousel-pause[aria-pressed="true"] {
  opacity: 1;
}

.collapsed .carousel-pause {
  opacity: 0 !important;
  transition: opacity 0s;
}

.section-controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: 4px;
}
.section-controls ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.section-controls li {
  position: relative;
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(8px);
  list-style: none;
  font-size: 12px;
  padding: 8px 16px;
  color: #777;
  cursor: pointer;  
  border-radius: 100%;
  width: fit-content;
  font-weight: 200;
  letter-spacing: .25px;
  transition: .2s background-color ease, .2s color ease, .2s border-radius ease;
} 
.section-controls li:hover {
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  border-radius: 20px;
  font-weight: 400;
}
.section-controls li.active {
  color: var(--primary-color);
  border-radius: 20px;
  font-weight: 400;
}
.section-controls li::before {
  content: "•";
  position: absolute;
  left: 8px;
  top: 12px;
  font-size: 14px;
  color: var(--primary-color);
  opacity: 0;
  transition: all .2s;
}
.section-controls li.active::before {
  opacity: 1;
  top: 7px;
}
.section-controls .icon {
  position: relative;
  padding: 8px;
  line-height: 0;
}
.section-controls .icon svg {
  width: 16px;
  height: auto;
  fill: currentColor;
}
.section-controls li.icon::before {
  display: none !important;
}
.section-controls .hidden { 
  display: none;
}


/* Mobile Styles */
@media screen and (max-width: 768px) {
  .intro-images-container {
    padding-top: 48px;
    width: 75vw;
    top: 120px;
    left: calc(25vw - 12px);
    max-width: none;
    height: 75vw;
    transform: none;
  }

  nav {
    left: 5vw;
    top: 55vh;
    width: 60vw;
    min-width: none;
    height: auto;
    bottom: unset;
    padding-top: 48px;
  }

  .intro-images-container .header,
  nav .header,
  .about .header {
    height: 48px;
  }

  .title {
    line-height: 48px;
  }

  .about.collapsed,
  nav.collapsed {
    height: 48px !important;
  }

  .close-btn {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }

  .active .close-btn:hover,
  .close-btn:hover {
    background-color: transparent;
  }

  .about {
    left: 20px;
    top: 50px;
    width: calc(100vw - 40px);
    min-width: none;
    height: auto;
  }

  .about.expanded {
    width: calc(100vw - 88px) !important;
  }

  .about-content {
    max-height: calc(80vh - 88px) !important;
    overflow-y: auto;
  }

  .about p {
    font-size: 16px;
    line-height: 1.4;
    padding: 12px 0;
  }
  .about img {
    max-width: 125px;
    float: right;
    margin: 24px 0 6px 6px;
  }

  .about.expanded .about-content {
    display: block;
  }

  .section-controls {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .section-controls ul { gap: 4px; overflow-x: auto; }
}

@media screen and (min-width: 1200px) {
  .intro-images-container {
    top: calc(50vh - 200px);
    left: calc(50% + 200px);
    transform: translateX(-50%);
  }

  nav {
    top: calc(50vh - 100px);
    left: calc(50% - 400px);
    bottom: unset;
  }

  .about {
    left: calc(50% - 300px);
  }
}

@media screen and (min-width: 1200px) and (min-height: 750px) {
  .about {
    top: calc(50vh - 300px);
  }
}

@media screen and (min-width: 768px) and (max-height: 575px) {
  .intro-images-container {
    top: 5%;
    left: calc(50% + 200px);
    transform: translateX(-50%);
  }

  nav {
    bottom: 20px;
  }

  .about {
    top: 40px;
  }
}